.brands{
    &__wrapper{
        padding-top: 160px;
    }
    &__skills{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__skill{
        display: flex;
        width: 360px;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        border-bottom:#715B4B solid 3px;
        padding-bottom: 14px;
        &-descr{
            width: 240px;
        }
    }
}