@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/TenorSans.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2');
    font-weight: 400;
    font-style: normal;
}