.icons {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #715B4B;
    position: relative;
    img{
        position: absolute;
        left: 26.46%;
        right: 11.47%;
        top: 25.67%;
        bottom: 17.67%;
    }
}