@media (max-width: 1025px) {
    .container {
        width: 900px;
        padding: 0;
    }

    body{
        font-size: 14px;
        line-height: 0;
    }

    .menu {
        padding-bottom: 15px;

        &__li-left {
            column-gap: 60px;
        }

        &__li-right {
            column-gap: 120px;
        }
    }

    .preview {
        &__wrapper{
            width: 100%;
            height: 551px;
        }        
        &__info{
            padding: 84px 5px 120px 37px;
        }
    }

    .title {
        &_fz48{
            font-size: 43px;
            line-height: 48px;
        }
    }
}

@media (max-width: 769px) {
    .container {
        min-width: 480;
        max-width: 670px;
    }
    .menu {
        &__img{
            display: none;
        }
        &__list{
            grid-template-columns: repeat(2, 1fr);
        }
        &__li{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &-right {
                margin-left: 60px;
                justify-self: end;
            } 
        }
    }
}

@media (max-width : 481px) {
    .container {
        width: 400px;
    }

    body{
        font-size: 12px;
    }

    .menu {
        display: none;
    }
}

@media (max-width : 320px) {
    .menu {
        display: none;
    }
} 