@media (max-width: 1439px) {
    .preview {
        &__wrapper{
            width: 100%;
        }
    }
}

@media (max-width: 1025px) {
    .container {
        width: 900px;
        padding: 0;
    }

    body{
        font-size: 14px;
        line-height: 0;
    }

    .menu {
        padding-bottom: 15px;

        &__item-left {
            column-gap: 60px;
        }

        &__item-right {
            column-gap: 120px;
        }
    }

    .preview {
        /* &__wrapper{
            grid-template-rows: 551px;
        }    */     
        &__info{
           padding: 84px 5px 120px 37px;
            &-title{
                margin-bottom: 35px;
            }
            &-about{
                margin-bottom: 57px;
            }
        }
    }

    .title {
        &_fz48{
            font-size: 43px;
            line-height: 48px;
        }
    }
}

@media (max-width: 769px) {
    .container {
        width: 670px;
    }
    .menu {
        &__img{
            display: none;
        }
        &__list{
            grid-template-columns: repeat(2, 1fr);
        }
        &__item{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &-right {
                margin-left: 60px;
                justify-self: end;
            } 
        }
    }
    .preview{
        &__image {
            background-size: cover;
        }
        &__info {
            padding: 45px 10px 44px 30px;
            &-title {
                margin-bottom: 30px;
            }
        }
    }

    .title {
        &_fz48 {
        font-size: 38px;
        line-height: 1.1;
        }
        .title_fz18 {
            font-size: 16px;
            line-height: 1.3;
        }
    }
    
    .btn {
        width: 220px;
        height: 50px;
        font-size: 15px;
        line-height: 0;
    }

}

@media (max-width : 481px) {
    .container {
        width: 400px;
    }

    body{
        font-size: 12px;
    }

    .menu {
        display: none;
    }

    .preview{
        display: flex;
    }
}

@media (max-width : 320px) {
    .menu {
        display: none;
    }
} 