
.menu{
    padding-top: 31px;
    padding-bottom: 21px;
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }   
    &__img{
        justify-self: center;
    }
    &__logo{
        width: 100%;
    }
    &__li{
        display: flex;
        &-left {
            justify-content: flex-start;
            column-gap: 82px;
        } 
        &-right {
            justify-content: flex-end;
            column-gap: 147px;
        } 
    }    
}