.preview {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    &__wrapper {
        width: 1440px;
        margin: 0 auto;
        display: grid;   
        grid-template-columns: repeat(2, 1fr);
    }
    &__image {
        background-image: url(../../img/promo/main_img.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center
    }
    &__info{
        padding: 27.5% 5px 13.62% 5.14%;
        &-brand{
            margin-bottom: 17px;
            line-height: 1.5;
        }
        &-title{
            margin-bottom: 5.9%;
        }
        &-about{
            margin-bottom: 10.91%;
        }
    }
    &__messages{
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin-top: 14.45%;
        margin-left: 60.62%;
        margin-right: 20.6%;
    }
}
