.preview {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    display: flex;   
    &__img {
        height: 774px;
    }
    &__info{
        width: 100%;
        padding: 198px 0 222px 37px;
        &-title{
            margin: 17px 0 40px 0;
            width: 514px;
        }
        &-about{
            margin-bottom: 70px;
        }
    }
}
