.preview {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    &__wrapper {
        width: 1440px;
        margin: 0 auto;
        display: grid;   
        grid-template-columns: repeat(2, 1fr);
    }
    &__image {
        background-image: url(../../img/promo/main_img.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__info{
        padding: 198px 0 98px 37px;
        &-title{
            margin-bottom: 40px;
        }
        &-about{
            margin-bottom: 70px;
        }
    }
    &__messages{
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin-top: 94px;
        margin-left: 411px;
    }
}
